<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659360838526-dpgsj76lrfjcguvd2j0176hbvfv5hndo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659360838526-dpgsj76lrfjcguvd2j0176hbvfv5hndo</string>
	<key>API_KEY</key>
	<string>AIzaSyBoc6xMWFU2V3f1cYCtNAu0vlaeobT4jYw</string>
	<key>GCM_SENDER_ID</key>
	<string>659360838526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.currency</string>
	<key>PROJECT_ID</key>
	<string>currency-2bc68</string>
	<key>STORAGE_BUCKET</key>
	<string>currency-2bc68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659360838526:ios:2eddc8b287809b3069392f</string>
</dict>
</plist>